body {
	background-image:url("https://i.pinimg.com/originals/85/3f/af/853faf586b65a0ac4b63081404b186ce.gif");
	background-repeat:no-repeat;
	background-position:right top;
	margin-right:200px;
	background-attachment:scroll;
}